{% extends 'base.html.twig' %}

{% block title %}Asitur{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/frontend/style-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontend/style-login.css') }}">
{% endblock %}

{% block body %}

    <div id="container" class="cls-container">
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content" style="padding-top: 6vh;">
			<div>
				<img id="asitur_logo" src='{{asset("media/logo-asitur-blanco.png")}}' width="180px" height="54px">
			</div>
			<div class="cls-content-sm panel recover_password_full_panel">
                
				<div class="panel-body recover_password_panel">

                    <h3>{{"change_password.form.title"|trans}}</h3>
                    <br>
					<form id='passwordRecovery_form' class="form-horizontal" method="post">
                        <div class="input-group mar-btm" style="width: 100%;">
                            <label for="inputPassword" style="float: left;">{{"change_password.form.new_password"|trans}}:</label>
                            <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" spellcheck="false" maxlength="255" style='width: 100%' required autofocus>
                        </div>
                        <br>
                        <div class="input-group mar-btm" style="width: 100%; margin-bottom: 40px;">
                            <label for="inputPassword_2" style="float: left;">{{"change_password.form.new_password_check"|trans}}:</label>
                            <input id="inputPassword_2" type="password" name="password_2"  class="form-control" placeholder="Password" spellcheck="false" maxlength="255" required>
                        </div>
                        <div>
                            <button id="form_submit" class="btn btn-lg btn-block btn-primary" type="submit">
                                {{"general.accept"|trans}}
                            </button>
                        </div>
					</form>
				</div>
			</div>
		</div>
		<!--===================================================-->
		
	</div>

{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            
            $("#form_submit").click(function(e){
                e.preventDefault();
                var password  = $('#inputPassword').val();
                var password2 = $('#inputPassword_2').val();
                var recovery_token  = "{{ recovery_token }}";

                if(password !== password2) {
                    swal.fire('{% trans %}change_password.form.passwords_not_matching{% endtrans %}','','error');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('change_password') }}',
                        data: {'password': password,
                            'password2': password2,
                            'recovery_token': recovery_token  
                            },
                        success: function(data){
                            if (data['status']) {
                                swal.fire({
                                    text: data['message'],
                                    title: '',
                                    icon: 'success',
                                    onClose: () => {
                                        location.href = "{{ path( 'app_login' ) }}";
                                    }
                                });
                            } else {
                                swal.fire({
                                    text: data['message'],
                                    title: '',
                                    icon: 'error',
                                    onClose: () => {
                                        location.href = "{{ path( 'app_login' ) }}";
                                    }
                                });
                            }
                        }
                    });
                }

            });
            
        });
    </script>
{% endblock %}
