{% extends 'mails/mailBase.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block content %}
    Hola {{ operator.collaborator.getName() }},

    El operador con teléfono  <b>{{ operator.getMobile() }}</b> y nombre <b>{{ operator.getName() }} {{ operator.getLastName() }}</b> ha solicitado un cámbio de contraseña.
    <br>

    Puede hacerlo en el siguiente enlace: tal y cual    
    
    <a href="{{ web_domain }}password_recovery/" target="_blank">Enlace</a>
{% endblock %}