<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate" />
        <title>Asitur</title>
        <link rel="icon" type="image/png" href="{{ asset('media/asitur_favicon.ico') }}" sizes="16x16">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  
        <!--Open Sans Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

        <!--Bootstrap Stylesheet -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/frontend/style-base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/frontend/style-appPolicy.css') }}">

    </head>
    <body>
        <div id="container" class="cls-container">
		
            <div class="cls-content">
                <div style="text-align: center; margin: 20px 0 20px 0;">
                    <img id="asitur_logo" src='{{asset("media/logo-asitur-blanco.png")}}' width="180px" height="54px">
                </div>
                <div class="cls-content-sm panel policy_full_panel">
                    <div class="panel-title policy_title_panel">
                        <h4>POLÍTICA DE PRIVACIDAD</h4>
                    </div>
                    <div class="panel-body policy_panel">

                        {# 1. DEFINICIONES #}
                        <h5 style="text-align: left; font-weight: bold;"><u>1. DEFINICIONES:</u></h5>
                        <ul>
                            <li><b><u>APP RIRA:</u></b> Funcionalidad en la que se gestionará todo lo relativo a la prestación de los servicios por parte de los vehículos del <b>PROVEEDOR</b>. Asignaciones de servicios, aceptación de los servicios, geoposicionamiento de los vehículos que se encuentren operativos para dar servicio, etc.
                            </li>
                            <br/>
                            <li><b><u>PROVEEDOR:</u></b> Empresa o empresario individual que mantiene suscrito un contrato de prestación de servicios con <b>ASITUR</b> en virtud del cual se obliga frente a <b>ASITUR</b> a la prestación de servicios de ayuda técnica en carretera, remolque de vehículos y su rescate (en adelante, <b>ASISTENCIA EN CARRETERA</b>) para los asegurados de las compañías aseguradoras clientes de <b>ASITUR</b>.
                            </li>
                            <br/>
                            <li><b><u>OPERARIOS DE GRÚA (USUARIO):</u></b> Choferes del proveedor (personas físicas) que prestan los servicios para el proveedor de <b>ASITUR</b> que no tiene vínculo alguno laboral o mercantil con <b>ASITUR</b> y que se enmarcan dentro de la relación existente entre dichas partes.
                            </li>
                        </ul>

                        {# 2. CONDICIONES DE USO WEB RIRA Y APP RIRA #}
                        <h5 style="text-align: left; font-weight: bold;"><u>2. CONDICIONES DE USO WEB RIRA Y APP RIRA</u></h5>
                        <p>El operario de grúa obtendrá tras su registro un usuario y una contraseña individual y personal que deberá conservar en la más estricta confidencialidad.</p>

                        <p><b>ASITUR</b> en ningún caso tendrá acceso a la identificación de los operarios de grúa, de modo que a cada uno de ellos se le asignará un nombre de usuario mediante identificador numérico o disociado haciendo imposible su identificación personal por parte de <b>ASITUR</b> (ejemplo: chofer 1).</p>

                        <p>Se informa que <b>ASITUR</b>, como consecuencia del servicio prestado, con la finalidad de controlar, gestionar y mejorar la asignación de los servicios y sobre la base de la ejecución del contrato entre <b>ASITUR</b> y <b>EL PROVEEDOR</b>, podrá acceder a datos relativos al posicionamiento / localización GPS de los vehículos conducidos por los operarios de grúa que presten los servicios de asistencia en carretera para <b>EL PROVEEDOR</b> mientras se presten los mismos y a través de la herramienta que <b>ASITUR</b> determine en cada momento.</p>

                        <p>En cualquier caso, <b>ASITUR</b> respetará el derecho a la intimidad y a la protección de los datos personales de los operarios de grúa y garantizará que los datos obtenidos a través del sistema de geolocalización sean adecuados, pertinentes y no excesivos en relación con el ámbito y las finalidades determinadas, explícitas y legítimas para las que se obtienen. Asimismo, se le informa de que, al no estar identificados en <b>RIRA</b> los operarios de grúa del <b>PROVEEDOR</b> que prestan los servicios al haberse disociado sus datos identificativos mediante la asignación de identificadores numéricos, no es posible para <b>ASITUR</b> identificar a los usuarios de <b>RIRA</b> que se geolocalicen salvo que se produzca un cruce de datos con datos disponibles en otras bases de datos.</p>

                        <p>El posicionamiento / localización GPS de los vehículos del proveedor estará operativo <b>EXCLUSIVAMENTE</b> cuando el operario de grúa del proveedor <b>MARQUE COMO DISPONIBLE / OPERATIVO PARA ASITUR</b> en el apartado de la APP RIRA.</p>

                        <p><b>ASITUR</b> no podrá proceder al posicionamiento / localización GPS cuando el operario de grúa desactive su disponibilidad en <b>RIRA</b>. No obstante, para ello resulta IMPRESCINDIBLE que <b>el operario de grúa</b> desactive en la APP <b>RIRA</b> su disponibilidad para que la función de geolocalización sobre la que está siendo informada se deshabilite.</p>
                        
                        
                        {# 3. PROTECCIÓN DE DATOS PERSONALES #}
                        <h5 style="text-align: left; font-weight: bold;"><u>3. PROTECCIÓN DE DATOS PERSONALES</u></h5>
                        <p>Le informamos de que, para la gestión de la APP RIRA, <b>ASITUR</b> le asignará un identificador numérico al que no va asociado ningún dato personal que permita su identificación, es decir, se le asignará un identificador disociado de su identidad, por lo que <b>ASITUR</b> en ningún momento procederá al tratamiento de sus datos personales.</p>

                        <p>No obstante, para el caso de que se produjese la identificación de los usuarios asignados mediante el cruce con datos disponibles en otras bases de datos, le informamos de que <b>ASITUR ASISTENCIA, S.A.</b>, como Responsable del Tratamiento, con NIF A28749976 y dirección en Avenida de los Encuartes, 21, 28760, Tres Cantos (Madrid), va a proceder al tratamiento de sus datos personales con la finalidad controlar, gestionar y mejorar la asignación de los servicios mediante la geolocalización de los vehículos del <b>PROVEEDOR</b> en tiempo real. La base jurídica para el tratamiento de los datos personales la ejecución de un contrato entre <b>ASITUR</b> y <b>EL PROVEEDOR</b> respecto de la cual usted es empleado o presta servicios.</p>

                        <p>Estos datos no se cederán a terceros ni serán objeto de transferencias internacionales salvo que contemos con su consentimiento o se precise el cumplimiento de obligaciones legales. Sus datos personales, incluidos los obtenidos durante la prestación del servicio a través de la geolocalización del vehículo, se conservarán mientras se mantenga la relación contractual entre las partes y en todo caso, durante el plazo necesario para atender las obligaciones y responsabilidades legales que pudieran derivarse de la prestación del servicio y del tratamiento de los datos realizados.</p>

                        <p>Los datos personales necesarios para el tratamiento expuesto serán tratados exclusivamente para los fines expuestos y no serán tratados ulteriormente de manera incompatible con dichos fines.</p>

                        <p>Se informa que <b>ASITUR</b> ha designado a un Delegado de Protección de Datos, con quien podrá contactar a través de la siguiente dirección de correo electrónico: <span style="color: #337ab7;">protecciondedatos@asitur.es</span></p>

                        <p>Asimismo, se informa sobre la posibilidad de ejercitar en cualquier momento el derecho a obtener confirmación sobre si se están tratando o no sus datos personales, así como a ejercer los derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición, dirigiendo su solicitud por escrito a la atención del Delegado de Protección de datos de <b>ASITUR</b>, junto con una fotocopia de su DNI, al domicilio establecido en el presente anexo o en el contrato al que se adiciona el mismo, o bien enviando un correo electrónico, adjuntando fotocopia de su DNI a <span style="color: #337ab7;">protecciondedatos@asitur.es</span></p>

                        <p>Finalmente le informamos de que tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos (AEPD).</p>

                    </div>
                </div>
                
            </div>
            
        </div>
    </body>
