<div class="row" style="">
    <div class="col-md-12 col-lg-6">
        <div class="card" style="height: auto; padding: 10px;">
            <figure class="highcharts-figure">
                <div id="ris_figure"></div>
            </figure>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card" style="height: auto; padding: 10px;">
            <figure class="highcharts-figure">
                <div id="cause_figure"></div>
            </figure>
        </div>
    </div>
</div>

<div id='tableRisFilter' style='margin-top:40px; display: flex; justify-content: flex-end;'>
    {# Filtro de agrupación (group by) #}
    <div>
        <div class="filter_inputs_div">
            <label for="filterRisGroupBy">{{"dashboard.ris.filter.groupBy.label"|trans}}:</label>
            <select id="filterRisGroupBy" name="risGroupBy" class="filter_inputs form-control select_inputs">
                <option value ='1'>{{"general.branch_office"|trans}}</option>
                <option value ='2'>{{"general.province"|trans}}</option>
                <option value ='3'>{{"general.branch_office_province"|trans}}</option>
                <option value ='4'>{{"general.branch_office_town"|trans}}</option>
            </select>
        </div>
    </div>
</div>

<div class="row" style="">
    <div class="col-md-12">
        <table id="tableRis" class="table">
            <thead>
                 <tr>
                    <th>{{"general.branch_office"|trans|upper}}</th>
                    <th>{{"data_management.input.label.province"|trans|upper}}</th>
                    <th>{{"dataTable.dashboard.province_branchoffice"|trans|upper}}</th>
                    <th>{{"dataTable.dashboard.town_branchoffice"|trans|upper}}</th>
                    <th>{{"dataTable.dashboard.ris_percentage"|trans|upper}}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    var tableRis = null;

    var fullFilters = [];
    var risSubTablePercentageThreshold = 40;

    $("#filterRisGroupBy").chosen({disable_search: true});


    $("#filterRisGroupBy").change(function() {
        reloadRisDataTable();
    });

    getFilters();
    tableRis = $('#tableRis').DataTable({
        dom: "<'row'<'col-sm-12't>><'row'<'col-sm-5'l><'col-sm-7'p>>",
        order: [0, 'ASC'],
        searching: true,
        rowReorder: true,
        columnDefs: [
            { orderable: true, className: 'reorder', targets: [0,1,2,3] },
            { orderable: false, targets: [4] }
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, "{{('dataTable.general.lengthMenu.all')|trans}}"]
        ],
        responsive: false,
        autoWidth: false,
        scrollX: true,
        processing: false,
        serverSide: true,
        pagingType: "full_numbers",
        language: {
            "sProcessing": "{{ ('dataTable.general.language.sProcessing ') | trans }}",
            "sLengthMenu": "{{ ('dataTable.asitur.language.sLengthMenu') | trans}}: _MENU_",
            "sZeroRecords": "{{ ('dataTable.general.language.sZeroRecords') | trans }}",
            "sEmptyTable": "{{ ('dataTable.general.language.sZeroRecords') | trans }}",
            "sInfo": "{{ ('dataTable.general.language.sInfo') | trans }}",
            "sInfoEmpty": "{{ ('dataTable.general.language.sInfoEmpty') | trans }}",
            "sInfoFiltered": "{{ ('dataTable.general.language.sInfoFiltered') | trans }}",
            "sInfoPostFix": "",
            "sSearch": "{{ ('dataTable.general.language.sSearch') | trans }}:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "{{ ('dataTable.general.language.sLoadingRecords') | trans }}",
            "oPaginate": {
                "sFirst": "<<",
                "sLast": ">>",
                "sNext": ">",
                "sPrevious": "<",
            },
            "oAria": {
                "sSortAscending": ": {{ ('dataTable.general.language.oAria.sSortAscending') | trans }}",
                "sSortDescending": ": {{ ('dataTable.general.language.oAria.sSortDescending') | trans }}"
            },
        },
        ajax: {
            url: "{{ path('dashboard_tab_ris_table') }}",
            method: 'POST',
            data: fullFilters
        },
        initComplete: function() {
            // Enable THEAD scroll bars
            $('.dataTables_scrollHead').css('overflow', 'auto');

            // Sync THEAD scrolling with TBODY
            $('.dataTables_scrollHead').on('scroll', function () {
                $('.dataTables_scrollBody').scrollLeft($(this).scrollLeft());
            });
        },
        drawCallback: function() {
            loadFunctionDatatable();
        },                   
        createdRow: function(row, data, index) {

            {#* Creamos la fila con los metadatos #}
            $(row).addClass("details");

            let groupByValue = $("#filterRisGroupBy").val();

            switch(groupByValue) {
                case "1":
                    $(row).attr("data-groupby", data.br_id );
                    $(row).attr("data-type", "br_id" );
                    break;
                case "2":
                    $(row).attr("data-groupby", data.vh_province_id );
                    $(row).attr("data-type", "vh_province_id" );
                    break;
                case "3":
                    $(row).attr("data-groupby", data.br_province_id );
                    $(row).attr("data-type", "br_province_id" );
                    break;
                case "4":
                    $(row).attr("data-groupby", data.br_town_id );
                    $(row).attr("data-type", "br_town_id" );
                    break;
                default:
                    {#* console.log("error"); #}
            }
        }, 
        columns: [
            {data: {}, render: function(data, row) {
                    let html = ($("#filterRisGroupBy").val() == "1") ? data.br_name : "";
                    return html;
                }
            },
            {data: {}, render: function(data, row) {
                    let html = ($("#filterRisGroupBy").val() == "2") ? data.vh_province : "";
                    return html;
                }
            },
            {data: {}, render: function(data, row) {
                    let html = ($("#filterRisGroupBy").val() == "3") ? data.br_province : "";
                    return html;
                }
            },
            {data: {}, render: function(data, row) {
                    let html = ($("#filterRisGroupBy").val() == "4") ? data.br_town : "";
                    return html;
                }
            },
            {data: {}, render: function(data, row) {
                var html = "";
                var label = '';
                var ris_percentage = (data.RIS_count / data.total_count) * 100;
                if (ris_percentage < risSubTablePercentageThreshold){
                    label = "label_warning";
                }
                else{
                    label = "label_success";
                }
                html += "<div class='"+label+"'>" + ris_percentage.toFixed(2) + "%</div>";
                return html;
                }
            }
        ]
    });

    Highcharts.chart('ris_figure', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'RIS / No RIS'
        },
        subtitle: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                '{{"dashboard.figure.assistance_type"|trans}}'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '{{"dashboard.figure.interventions_quantity"|trans}}'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'RIS',
            data: [{{risFigureData.countRis}}]

        }, {
            name: 'No RIS',
            data: [{{risFigureData.countNoRis}}]

        }]
    });

    Highcharts.chart('cause_figure', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '{{"dataTable.dashboard.cause"|trans}}'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: '{{"general.percentage"|trans}}',
            data: JSON.parse("{{risCauseFigureData}}".replaceAll('&quot;', '"')),            
        }]
    });

    function loadFunctionDatatable(){

        $('.details').click(function(){
            
            let params = {
               "groupby": $(this).data("groupby"),
            };

            loadInterventionDetail(params);
        });
    }

    function loadInterventionDetail(params, force = false){
        
        let groupbyData = params["groupby"].toString();

        {#* Borramos las subtablas ya abiertas #}
        $(".selectedLine").removeClass("selectedLine");
        $(".dataOf").addClass("dataOfToRemove");
        $('#data-of-' + groupbyData).removeClass("dataOfToRemove");
        $(".dataOfToRemove").remove();
        $('#data-of-' + groupbyData).addClass("selectedLine");

        {#* Obtenemos la línea de la tabla #}
        let line = $("tr[data-groupby='" + groupbyData + "']");

        {#* Si lo forzamos #}
        if (force){
            $('#data-of-' + groupbyData).remove();
        } else{
            {#* Si no existe, lo creamos #}
            if (!$('#data-of-' + groupbyData).length) {

                {#* Variables auxiliares para crear el tr #}
                let numColumn = 20;
                let newTr = $('<tr></tr>').html('<td colspan="'+numColumn+'"><center><div class="loader"></div></center></td>');

                {#* Insertamos #}
                line.addClass("selectedLine");
                newTr.attr("id",'data-of-' + groupbyData);
                newTr.addClass("dataOf");
                newTr.insertAfter(line);

                {#* Realizamos el ajax para traernos el HTML #}
                $.ajax({
                    type: 'POST',
                    url: "{{ path('dashboard_ris_detail') }}",
                    data: {                            
                        groupby: line.data("groupby"),
                        type: line.data("type"),
                    },
                    beforeSend: function(){},
                    success: function (data) {
                        newTr.css({"opacity": "0%"});
                        newTr.html('<td colspan="'+numColumn+'">'+ data + '</td>');
                        setTimeout(function() {
                            newTr.css({"opacity": "100%"});
                        }, 200);
                    },
                    error: function (data) {
                        swal({ title: "Error!", icon: "error", button: "Ok", });
                    },
                });

            } else {
                $('#data-of-' + groupbyData).remove();
            }
        }
    }

    function getFilters() {
        let form_filters = new Object();
        $('.filter_inputs').each(function() {
            form_filters[$(this).attr('name')] = $(this).val();
        });

        fullFilters = {
            'form_filters': form_filters,
            'groupByFilter': $("#filterRisGroupBy").val()
        };
    }

    function reloadRisDataTable() {
        getFilters();
        $("#tableRis").DataTable().search(JSON.stringify(fullFilters)).draw();
    }

</script>